{{define "components/util"}}
<div class="fixedGroup">
    <div class="fixedGroup-item theme-toggle" title="{{t $ "util.theme"}}">
        <div class="fixedGroup__cell"><span class="fixedGroup__triangle"></span><div class="txt">{{t $ "util.theme"}}</div></div>
        <i class="icon-yejian"></i><i class="icon-rijian"></i>
    </div>
    <div class="fixedGroup-item retop" title="{{t $ "util.top"}}">
        <div class="fixedGroup__cell"><span class="fixedGroup__triangle"></span><div>{{t $ "util.top"}}</div></div>
        <i class="icon-top"></i>
    </div>
</div>
{{end}}
